/alignment/
/download_alignments/
/scripts/TESTING/
/scripts/archived/
/Result/
/Result_rona/
/Result_nova/
*.faa
**/__pycache__/
.*/ 
slurm-*
rona-*
Q.GTDB_*
Rplots.pdf
.RData
.Rhistory
scripts/run_test_set_nova.py
scripts/run_test_set.py
